<h2>My Characteres</h2>
<ul class="characters">
  <li *ngFor="let hero of characters"
    [class.selected]="hero === selectedCharacter"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

<div *ngIf="selectedCharacter">

  <h2>{{ selectedCharacter.name | uppercase }} Details</h2>
  <div><span>id: </span>{{selectedCharacter.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedCharacter.name" placeholder="name">
    </label>
  </div>

</div>